<configuration>
    <property name="LOG_LEVEL" value="INFO" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{dd/MM/YYYY HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <http>
            <url>${LOKI_URL:-http://loki:3100}/loki/api/v1/push</url>
        </http>
        <labels>
            app = banoc
            host = ${HOSTNAME}
        </labels>
        <message>
            <pattern>%d{dd/MM/YYYY HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
        </message>
    </appender>

    <root level="${LOG_LEVEL}">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="LOKI"/>
    </root>

    <logger name="org.eclipse.jetty" level="${LOG_LEVEL}"/>
    <logger name="io.netty" level="${LOG_LEVEL}"/>
    <logger name="io.ktor.routing" level="${LOG_LEVEL}"/>
    <logger name="io.ktor.server.engine" level="${LOG_LEVEL}"/>
    <logger name="io.ktor.server.plugins.contentnegotiation" level="${LOG_LEVEL}"/>
</configuration>